#warn {
  background-color: $white-smoke;
  color: $crimson;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  @include fullhd-and-above {
    font-size: 45px;
  }
  border-style: solid;
  border-color: $white-smoke;
  cursor: pointer;
}

#ok {
  background-color: $white-smoke;
  color: $forest-green;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  @include fullhd-and-above {
    font-size: 45px;
  }
  border-style: solid;
  border-color: $white-smoke;
  cursor: pointer;
}

#neut {
  background-color: $white-smoke;
  color: $medium-blue;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  @include fullhd-and-above {
    font-size: 45px;
  }
  border-style: solid;
  border-color: $white-smoke;
  cursor: pointer;
}
