.foot {
  position: absolute;
  @include fullhd-and-above {
    width: 200px;
    right: 40px;
    bottom: 30px;
  }
}

.foot > ul {
  list-style: none;
  position: relative;
}

.foot-primary {
  li {
    display: inline-block;
    @include fullhd-and-above {
      font-size: 30px;
      padding-left: 10px;
      padding-right: 10px;
    }
    a {
      color: $light-sky-blue;
    }
    a:hover {
      color: $steel-blue;
    }
  }
}
