.home {
  overflow: hidden;
  display: inline-block;
}

.home > img {
  @include fullhd-and-above {
    width: 40px;
    height: 40px;
  }
  @include hd720-and-above {
    width: 27px;
    height: 27px;
  }
}

.home-text {
  color: $white-smoke;
  position: relative;
  @include fullhd-and-above {
    font-size: 40px;
    margin-left: 10px;
  }
  @include hd720-and-above {
    margin-left: 7px;
    font-size: 27px;
  }
}
