.wnd-status {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  @include fullhd-and-above {
    margin-top: 230px;
    padding-left: 100px;
    padding-right: 100px;
    max-width: 1720px;
  }
  @include hd720-and-above {
    max-width: 1146px;
    padding-left: 67px;
    padding-right: 67px;
    margin-top: 154px;
  }
  p {
    color: $dodger-blue;
    font-family: 'Josefin Sans', sans-serif;
    @include fullhd-and-above {
      font-size: 60px;
      font-weight: lighter;
    }
    @include hd720-and-above {
      font-size: 40px;
      font-weight: lighter;
    }
  }
  .field {
    color: $steel-blue;
    font-family: 'Quicksand', sans-serif;
    @include fullhd-and-above {
      font-size: 35px;
      font-weight: lighter;
    }
    @include hd720-and-above {
      font-size: 24px;
      font-weight: lighter;
    }
  }
}

.status {
  position: relative;
  @include fullhd-and-above {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  @include hd720-and-above {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.battery {
  position: relative;
  @include fullhd-and-above {
    margin-top: 15px;
  }
  @include hd720-and-above {
    margin-top: 10px;
  }
}

.closed {
  color: $forest-green;
  font-family: 'Quicksand', sans-serif;
  @include fullhd-and-above {
    font-size: 35px;
    font-weight: lighter;
  }
  @include hd720-and-above {
    font-size: 24px;
    font-weight: lighter;
  }
}

.open {
  color: $crimson;
  font-family: 'Quicksand', sans-serif;
  @include fullhd-and-above {
    font-size: 35px;
    font-weight: lighter;
  }
  @include hd720-and-above {
    font-size: 24px;
    font-weight: lighter;
  }
}

.normal {
  color: $forest-green;
  font-family: 'Quicksand', sans-serif;
  @include fullhd-and-above {
    font-size: 35px;
    font-weight: lighter;
  }
  @include hd720-and-above {
    font-size: 24px;
    font-weight: lighter;
  }
}

.low {
  color: $crimson;
  font-family: 'Quicksand', sans-serif;
  @include fullhd-and-above {
    font-size: 35px;
    font-weight: lighter;
  }
  @include hd720-and-above {
    font-size: 24px;
    font-weight: lighter;
  }
}
