.container {
  margin-left: auto;
  margin-right: auto;
  @include fullhd-and-above {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1880px;
  }
  @include hd720-and-above {
    padding-left: 13px;
    padding-right: 13px;
    max-width: 1254px;
  }
}

.row {
  position: relative;
  @include fullhd-and-above {
    width: 1720px;
  }
  @include hd720-and-above {
    width: 1146px;
  }
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


[class*='col-'] {
  position: relative;
  text-align: left;
  @include fullhd-and-above {
    float: left;
    padding-left: 100px;
    padding-right: 100px;
  }
  @include hd720-and-above {
    float: left;
    padding-left: 67px;
    padding-right: 67px;
  }
}

@include fullhd-and-above {
  .col-1-2 {
    width: 660px;
  }
}

@include hd720-and-above {
  .col-1-2 {
    width: 439px;
  }
}
