$dodger-blue: #1E90FF !default;
$white-smoke: #F5F5F5 !default;
$royal-blue: #4169E1 !default;
$light-sky-blue: #87CEFA !default;
$steel-blue: #4682B4 !default;
$forest-green: #228B22 !default;
$crimson: #DC143C !default;
$dark-slate-blue: #483D8B !default;

$nav-color: $dodger-blue !default;
$body-color: $white-smoke !default;
$link-color: $dodger-blue !default;
$link-color-visited: $royal-blue !default;
