$dodger-blue: #1E90FF !default;
$white-smoke: #F5F5F5 !default;
$midnight-blue: #191970 !default;
$royal-blue: #4169E1 !default;
$black: #000000 !default;

$alert-size-x: 156px !default;
$alert-size-y: 718px !default;

$link-color: $dodger-blue !default;
$link-color-visited: $royal-blue !default;
$body-color: $white-smoke !default;
$header-color: $midnight-blue !default;
$text-color: $black !default;
