.container {
  margin-left: auto;
  margin-right: auto;
  //border-style: solid;
  //border-color: black;
  //border-width: thin;
  @include fullhd-and-above {
    padding-left: 22px;
    padding-right: 22px;
    margin-top: 80px;
    max-width: 1876px;
  }
}

.row {
  position: relative;
    @include fullhd-and-above {
    width: 1876px;
  }
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

[class*='col-'] {
  position: relative;
  @include fullhd-and-above {
    padding-left: 22px;
    padding-right: 22px;
    float: left;
  }
}

@include fullhd-and-above {
  .col-1-4 {
    width: 425px;
  }
}
