.preferences {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  @include fullhd-and-above {
    margin-top: 230px;
    padding-left: 150px;
    padding-right: 150px;
    max-width: 1620px;
  }
}

[class*='col-'] {
  position: relative;
  @include fullhd-and-above {
    padding-left: 150px;
    padding-right: 150px;
    float: left;
  }
}

@include fullhd-and-above {
  .col-1-3 {
    width: 340px;
  }
}
